{% extends 'base.html.twig' %}

{% block title %}Snippet{% endblock %}

{% block body %}
    <h1>Snippet</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ snippet.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ snippet.title }}</td>
            </tr>
            <tr>
                <th>Syntax</th>
                <td>{{ snippet.syntax }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_snippet_index') }}">back to list</a>

    <a href="{{ path('app_snippet_edit', {'id': snippet.id}) }}">edit</a>

    {{ include('snippet/_delete_form.html.twig') }}
{% endblock %}
